body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(111, 104, 110);
}
h1{
    color: rgb(0, 0, 0);
    margin-bottom: 120px;
}
/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
} */
.app{
    transform: scale(1.3);
    transform-origin: bottom;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    padding: 20px 40px;
    background-color: darkslategray;
    box-shadow: 5px 5px 80px rgb(255, 155, 155);
}
label{
    color: white;
    font-family:sans-serif;
}
input{
    background-color: rgb(196, 195, 195);
    border: none;
    padding: 8px 15px;
    border-radius: 2px;
    color: rgb(0, 0, 0);   
    font-size: 1.08em;
   
}
input::placeholder{
    color: rgb(255, 255, 255);
    text-align: center;
}
button:hover{

    background-color: hsl(215, 20%, 14%);
    cursor: pointer;
}
button{
    height:30px;
    color: white;
    background-color: rgb(48, 58, 72);
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.1em;
    letter-spacing: 1px;
}
p{
    color: white;
    text-align: center;
}
input:focus{
    background-color: rgb(232, 232, 232);
    outline: none;
    border:1px inset;
    border-color: rgb(78, 95, 104);
    
}
.result p{
    display: inline;
}
#text{
    font-size: 1.2em;
    letter-spacing: 2px;
}
.result1{
    font-size: 1.3em;
    background-color: yellow;
    color: black;
   
    /* border: 2px solid rgbs(210, 210, 6); */
    /* border-radius: 5px; */
}
.result1::selection{
 color: yellow;
 background-color: black;
}